
body{
    background-color: #f1f1f1;
    width: 90%; 
    margin-left: 70px;
    }

.header-nav {
    text-align: center;
    background-color: #fff;
    font-family: sans-serif;
    }
img{
    float: right;
    width: 293;
    height: 254;        
    }
.cont-about{
    margin-left: 0px;
}
.last-column{
    width: 350;
    float: left;
    margin-right: 30px;
    margin-top: 5px;
       
}


